<!doctype html> 
	<head>     
		<title>About</title>   
	</head>   
	<h1 style="font-family:sans-serif;font-size:50px;"> This is the About Page </h1>   
	<body>     
		<p style="font-family:sans-serif;font-size:25px;">This Web Application has been designed to Create, Read, Update, Delete data dynamically, as well as hash passwords.</p>   
		<button type="button" onclick="darkMode()">Dark Mode</button>                  
		<button type="button" onclick="lightMode()">Light Mode</button>                  
		
		<script> function darkMode() { document.body.style.backgroundColor = "black"; document.body.style.color = "white"; nav.style.color = "white"; } function lightMode() { document.body.style.backgroundColor = "white"; document.body.style.color = "black"; nav.style.color = "blue"; } </script>
	</body>
	<br/><br/><a style="font-family:sans-serif;font-size:15px;" id="nav" href='./'>Home</a>
</html>
